fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg[binary]
redis
python-dotenv
pydantic-settings
fastapi
uvicorn
ultralytics
librosa
torch
torchvision
pandas
numpy
opencv-python
Faker
python-multipart
pytest
tensorflow
celery
kombu
